{% extends 'base.html' %}

{% block content %}
{{ form.media }}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!--{% if profile_details %}-->
                    <!--<img src="{{profile_details.photo.url}}" alt="photo">-->
                    <!--{% else %}-->
                    <!--<img src="/static/images/dp.jpg" alt="avatar" width='200' height='200' style="align: center;">-->
                    <!--{% endif %}-->
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center" style="background-color: #F7F7F7;">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h4 style="color: black;">
                                <span class="username"><h3 style="color: green;">username:</h3> {{ profile.username }}</span></h4>
                            <span class="username"><h3 style="color: green;">email:</h3> {{ profile.email }}</span></h4>
                        </li>
                        {% if profile.username == user.username %}
                        <!--<li class="list-inline-item">-->
                            <!--<a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Your Profile</a>-->
                        <!--</li>-->
                        <li class="list-inline-item">
                            <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-2x"></i></a>
                        </li>
                        <img src="{{profile.image.url}}"  width='500' height='500' alt="">
                        {% else %}

                        {% endif %}


                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold">You have posted <h4 style="color:green">{{projects|length}} </h4></span> Projects
                        </li>
                    </ul>
                    <h2>Profile Bio</h2>
                    <h4 class="font3">{{profile_details.bio|safe}}</h4>
                    {% if profile.username == user.username %}
                    <!--<p><a href="{% url 'upload_image' %}" class="btn btn-primary">Add Image</a></p>-->
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        {% for project in projects %}
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <br><br>
<button type="button" data-toggle="modal" data-target="#myModal{{project.id}}">

            <img class="well" src="{{project.image.url}}"  width='500' height='500' alt="" class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="backgrounds-color: white;">
                </button>            <h5>{{image.pub_date|timesince}} ago</h5>
            <h5><b>Caption:</b> {{project.description}}</h5>
            <h5><b>Likes:</b> {{image.likes}}</h5>
            
        </div>
        {% empty %}
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h5>You have submitted 0 projects so far. Please submit projects</h5>
        </div>
        {% endfor %}
    </div>
</div>
<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body"><ul class="list-group">
            <li class="list-group-item text-center"><a href="#">Edit Profile</a></li>
            <li class="list-group-item text-center"><a href="/logout/">Log Out</a></li>
            <li class="list-group-item text-center"><a data-dismiss="modal">Cancel</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>




{% for project in projects %}
<!-- modal content -->
<div class="modal fade" id="myModal{{project.id}}" role="dialog">
   <div class="modal-dialog">

       <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>


           </div>

           <div class="modal-body">
                              <img src="{{project.image.url }}" alt="" width="500" height="500">

           </div>


           <div class="modal-footer">
               <h3>Image Details</h3>
               <h5 style="color: green;">{{project.pub_date|timesince}} ago</h5>
                <h5 style="color: green;"><b>Likes:</b> {{image.likes}}</h5>
                <h5 style="color: green;"><b>Caption:</b> {{project.description}}</h5>


           </div>
       </div>
   </div>
</div>
{% endfor %}



{% endblock %}